<?xml version="1.0" encoding="utf-8" ?>
<!-- 
  This file needs to be put in the application directory. Make sure to set 
  'Copy to Output Directory' option in Visual Studio.
  -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">


  <targets>
    <target name="file" xsi:type="File"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring}"
        fileName="${specialfolder:folder=Personal}/Risk Frontiers/Workbench/Logs/platformlog.txt"
        archiveFileName="${specialfolder:folder=Personal}/Risk Frontiers/Workbench/Logs/archives/platformlog.{#####}.txt"
        archiveAboveSize="1048576"
        archiveNumbering="Sequence"
        concurrentWrites="true"
        keepFileOpen="false"
        encoding="iso-8859-2" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="file" />
  </rules>
</nlog>
