<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Risk.Platform.Standard.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Risk.Platform.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <Risk.Platform.Standard.Settings>
      <setting name="AriZeroLoss" serializeAs="String">
        <value>19</value>
      </setting>
      <setting name="FloodBuildingExtrasGradient" serializeAs="String">
        <value>0.015439</value>
      </setting>
      <setting name="FloodBuildingExtrasIntercept" serializeAs="String">
        <value>1698.28</value>
      </setting>
      <setting name="FloodContentsExtrasGradient" serializeAs="String">
        <value>0.106897</value>
      </setting>
      <setting name="FloodContentsExtrasIntercept" serializeAs="String">
        <value>114.7619</value>
      </setting>
      <setting name="FloodExtrasNoClaimMadeFraction" serializeAs="String">
        <value>0.4</value>
      </setting>
      <setting name="AveragePerRiskSumInsured" serializeAs="String">
        <value>300000</value>
      </setting>
      <setting name="SupportedauPerilDatabaseVersion" serializeAs="String">
        <value>2.7</value>
      </setting>
      <setting name="SupportednzPerilDatabaseVersion" serializeAs="String">
        <value>2.7</value>
      </setting>
      <setting name="SupportedHAILAUSPerilDatabaseVersion" serializeAs="String">
        <value>2.7</value>
      </setting>
      <setting name="SupportedQUAKEAUSPerilDatabaseVersion" serializeAs="String">
        <value>2.7</value>
      </setting>
      <setting name="SupportedFIREAUSPerilDatabaseVersion" serializeAs="String">
        <value>2.7</value>
      </setting>
      <setting name="SupportedFLOODAUSPerilDatabaseVersion" serializeAs="String">
        <value>2.7</value>
      </setting>
      <setting name="SupportedUserDatabaseVersion" serializeAs="String">
        <value>2.7</value>
      </setting>
      <setting name="SupportedCYCLAUSPerilDatabaseVersion" serializeAs="String">
        <value>2.7</value>
      </setting>
    </Risk.Platform.Standard.Settings>
    <Risk.Platform.Properties.Settings>
      <setting name="AriZeroLoss" serializeAs="String">
        <value>19</value>
      </setting>
      <setting name="FloodBuildingExtrasGradient" serializeAs="String">
        <value>0.015439</value>
      </setting>
      <setting name="FloodBuildingExtrasIntercept" serializeAs="String">
        <value>1698.28</value>
      </setting>
      <setting name="FloodContentsExtrasGradient" serializeAs="String">
        <value>0.106897</value>
      </setting>
      <setting name="FloodContentsExtrasIntercept" serializeAs="String">
        <value>114.7619</value>
      </setting>
      <setting name="FloodExtrasNoClaimMadeFraction" serializeAs="String">
        <value>0.4</value>
      </setting>
      <setting name="AveragePerRiskSumInsured" serializeAs="String">
        <value>300000</value>
      </setting>
      <setting name="SupportedauPerilDatabaseVersion" serializeAs="String">
        <value>2.6</value>
      </setting>
      <setting name="SupportedUserDatabaseVersion" serializeAs="String">
        <value>2.6</value>
      </setting>
      <setting name="SupportednzPerilDatabaseVersion" serializeAs="String">
        <value>2.5</value>
      </setting>
      <setting name="SupportedHAILAUSPerilDatabaseVersion" serializeAs="String">
        <value>2.4</value>
      </setting>
      <setting name="SupportedQUAKEAUSPerilDatabaseVersion" serializeAs="String">
        <value>2.5</value>
      </setting>
      <setting name="SupportedCYCLAUSPerilDatabaseVersion" serializeAs="String">
        <value>2.4</value>
      </setting>
    </Risk.Platform.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="MultiPerilEntities" connectionString="metadata=res://*/MultiPerilModel.csdl|res://*/MultiPerilModel.ssdl|res://*/MultiPerilModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=rfserver3;initial catalog=riskfrontiersdbUser_v2_6;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>